fastapi==0.115.0
uvicorn[standard]==0.30.6
websockets==13.1

grpcio==1.66.2
protobuf==5.28.0

sqlalchemy==2.0.35
asyncpg==0.29.0

redis[hiredis]==5.0.8

pydantic==2.9.2
pydantic-settings==2.5.2

PyJWT==2.9.0
anyio==4.4.0